.mySwiper.swiper {
  width: 100%;
  height: 282px;
  display: flex;
  align-items: center;
  padding: 0px 12px;
}

.mySwiper.swiper .swiper-wrapper {
  height: 252px;
}

.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  height: 252px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 3px 4px 13px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.mySwiper .swiper-slide-next,
.mySwiper .swiper-slide-prev {
  visibility: hidden;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: transparent;
}

.swiper-button-prev {
  left: -10px;
}

.swiper-button-next {
  right: -10px;
}

.mySwiper .swiper-button-next::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 9px solid #272727;
}

.mySwiper .swiper-button-prev::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 9px solid #272727;
}

@media screen and (min-width: 743px) {
  .mySwiper.swiper {
    height: 517px;
    padding: 0px 24px;
  }

  .mySwiper.swiper .swiper-wrapper {
    height: 487px;
  }
  .mySwiper .swiper-slide {
    height: 487px;
  }

  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-slide-next {
    visibility: visible;
  }
}

@media screen and (min-width: 1280px) {
  .mySwiper.swiper {
    padding: 0px 32px;
  }

  .swiper-button-prev {
    left: -10px;
  }

  .swiper-button-next {
    right: -10px;
  }
}
