@use '../../app/variables';

.container {
  @media screen and (min-width: variables.$tablet) {
    padding: 0 24px;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 20px;
  padding: 0 32px;
  @media screen and (min-width: variables.$tablet) {
    row-gap: 64px;
    padding: 0 64px;
  }
  @media screen and (min-width: variables.$laptop) {
    padding: 0 45px;
  }
}

.loaderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 282px;
  @media screen and (min-width: variables.$tablet) {
    height: 517px;
  }
}
