@use "../../../app/variables";

.burgerBtn {
  border: none;
  outline: none;
  background-color: transparent;

  width: 48px;
  height: 26px;
  position: relative;

  @media screen and (min-width: variables.$laptop) {
    display: none;
  }
}

.middleLine {
  width: 48px;
  height: 2px;
  background-color: variables.$textColor;
  margin-left: auto;
  margin-right: auto;
}

.burgerBtn::before,
.burgerBtn::after {
  content: "";
  width: 28px;
  height: 2px;
  background-color: variables.$textColor;
  position: absolute;
}

.burgerBtn::before {
  top: 0;
  left: 0;
  transform-origin: left;
}

.burgerBtn::after {
  bottom: 0;
  right: 0;

  transform-origin: right;
}

.btnIsClicked {
  & .middleLine {
    transform: rotate(-45deg);
    width: 32px;
  }

  &::before {
    transform: rotate(45deg);
    transform-origin: left;
    left: 13px;
    top: 1px;
  }

  &::after {
    transform: rotate(45deg);
    transform-origin: right;
    right: 13px;
    bottom: 1px;
  }
}
