@use "../../app/variables";

.section {
  min-height: 100vh;
  background-repeat: no-repeat;

  @media screen and (orientation: portrait) {
    background-image: url("../../../public/imgs/heroMobile.webp");
    background-repeat: no-repeat;
    background-size: 128%;
    background-position: 0% 0%;

    padding-top: 18%;
  }

  @media screen and (orientation: landscape) {
    padding-top: 100px;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      background-image: url("../../../public/imgs/heroLaptop.webp");
      background-size: cover;
      background-position: 72% -20px;
      z-index: -1;
    }
  }
}

.container {
  @media screen and (min-width: variables.$laptop) {
    // display: flex;
    position: relative;
  }
}

.imgs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 285/242;

  position: relative;

  @media screen and (min-width: variables.$laptop) {
    width: 760px;
    height: 648px;
  }
}

.heroImg {
  position: relative;
  overflow: hidden;
  border-radius: 12px;

  &:nth-child(1) {
    width: 33%;
    aspect-ratio: 1/1;
    margin-bottom: auto;
  }

  &:nth-child(2) {
    width: 52%;
    aspect-ratio: 3/2;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &:nth-child(3) {
    width: 33%;
    aspect-ratio: 1/1;

    margin-top: auto;
  }

  & img {
    object-fit: cover;
  }
}

.contentWrapp {
  & h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.29;
    text-align: left;
    margin-bottom: 16px;
  }

  & h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.29;
    text-align: right;
    margin-bottom: 16px;
  }

  @media screen and (min-width: variables.$laptop) {
    position: absolute;
    right: 0;
    top: 0;
    width: 644px;
    // height: 332px;

    justify-content: space-between;

    & h1,
    & h2 {
      text-align: right;
      font-size: 32px;
    }

    & h1 {
      margin-bottom: 56px;
    }

    & h2 {
      margin-bottom: 128px;
    }
  }
}

#callBtn {
  @media screen and (min-width: variables.$laptop) {
    width: 252px;
    height: 64px;
    margin-left: auto;
  }
}
