@use "../../app/variables";

.section {
  background-repeat: no-repeat;

  @media screen and (orientation: portrait) and (max-width: 743px) {
    background-image: url("../../../public/imgs/heroMobile.webp");
    background-size: 128%;
    background-position: 0% 0%;

    padding-top: 18%;
  }

  @media screen and (orientation: landscape),
    screen and (min-width: variables.$tablet) {
    padding-top: 100px;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      left: 50%;
      transform: translateX(-50%);

      width: 100%;
      max-width: 1400px;

      height: 120%;
      background-image: url("../../../public/imgs/heroLaptop.webp");
      background-size: cover;
      background-position: 72% -20px;
      z-index: -1;

      opacity: 0;
      animation: bgAnimation 1s linear forwards;
    }
  }
}

@keyframes bgAnimation {
  to {
    opacity: 1;
  }
}

.container {
  @media screen and (min-width: variables.$tablet) {
    position: relative;
  }
}

.imgs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 285/242;

  position: relative;

  @media screen and (min-width: variables.$tablet) {
    width: 62%;
    aspect-ratio: 507/340;
  }

  @media screen and (min-width: variables.$laptop) {
    width: 72%;
    aspect-ratio: 507/384;
  }
}

.heroImg {
  position: relative;
  overflow: hidden;
  border-radius: 12px;

  animation: heroImg 500ms linear forwards;
  opacity: 0;

  @keyframes heroImg {
    to {
      opacity: 1;
    }
  }

  &:nth-child(1) {
    width: 33%;
    aspect-ratio: 1/1;
    margin-bottom: auto;
  }

  &:nth-child(2) {
    width: 52%;
    aspect-ratio: 3/2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation-delay: 1s;
  }

  &:nth-child(3) {
    width: 33%;
    aspect-ratio: 1/1;
    margin-top: auto;
    animation-delay: 500ms;
  }

  & img {
    object-fit: cover;
  }
}

.contentWrapp {
  & h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.29;
    text-align: left;
    margin-bottom: 16px;
  }

  & h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.29;
    text-align: right;
    margin-bottom: 16px;
  }

  @media screen and (min-width: variables.$tablet) {
    position: absolute;
    right: 0;
    top: 0;
    width: 483px;

    & h1,
    & h2 {
      text-align: right;
      font-size: 24px;
    }

    & h1 {
      margin-bottom: 32px;
    }

    & h2 {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: variables.$laptop) {
    width: 644px;

    & h1,
    & h2 {
      font-size: 32px;
    }

    & h1 {
      margin-bottom: 56px;
    }

    & h2 {
      margin-bottom: 128px;
    }
  }
}

#callBtn {
  @media screen and (min-width: variables.$tablet) {
    width: 210px;
    height: 46px;
    margin-left: auto;
  }

  @media screen and (min-width: variables.$laptop) {
    width: 252px;
    height: 64px;
  }
}
