@import "../../app/_variables.scss";

.logo {
  font-family: var(--font-niconne);
  font-weight: 400;
  color: $accentColor;

  &:hover,
  &:focus {
    filter: $hoverBrightnes;
    font-weight: 900;
    text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.8);
  }
}
