@use "../../app/variables";

.logo {
  font-family: var(--font-niconne);
  font-weight: 400;
  color: variables.$accentColor;

  &:hover,
  &:focus {
    filter: variables.$hoverBrightnes;
    font-weight: 900;
    text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.8);
  }
}
