@use "../../app/variables";

.section {
  margin-top: 16px;

  @media screen and (min-width: variables.$tablet) {
    margin-top: 0px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media screen and (min-width: variables.$laptop) {
    row-gap: 64px;
  }
}

.faqList {
  margin-left: -20px;
  margin-right: -20px;

  @media screen and (min-width: variables.$tablet) {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faqItem {
  padding: 16px 20px;
  border-top: 1px solid variables.$faqItemBorderColor;
  border-bottom: 1px solid variables.$faqItemBorderColor;

  @media screen and (min-width: variables.$tablet) {
    padding: 20px 0px;
  }

  @media screen and (min-width: variables.$laptop) {
    padding: 40px 42px 40px 52px;
  }
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  // must be
  // font-family: DM-Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
  color: variables.$crossColor;
  cursor: pointer;

  @media screen and (min-width: variables.$tablet) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    column-gap: 24px;
  }

  @media screen and (min-width: variables.$laptop) {
    font-size: 22px;
    line-height: 1.3;
  }

  & svg {
    width: 16px;
    min-width: 16px;
    height: 16px;
  }
}

.isActiveQuestion {
  font-weight: 400;
  color: variables.$foterLogoColor;

  @media screen and (min-width: variables.$tablet) {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3;
  }
}

.isOpenSvg {
  fill: variables.$foterLogoColor;
  stroke: variables.$foterLogoColor;
}

.isClosedSvg {
  fill: variables.$crossColor;
  stroke: variables.$crossColor;
}

.answerWrapp {
  interpolate-size: allow-keywords; //for chrome
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.isClosed {
  max-height: 0;
}

.isOpen {
  max-height: 300px;
  padding-top: 12px;

  @media screen and (min-width: variables.$tablet) {
    padding-top: 32px;
    padding-bottom: 12px;
  }

  @media screen and (min-width: variables.$laptop) {
    padding-top: 12px;
    padding-bottom: 0px;
  }
}

.answer {
  // must be mobile and desktop
  // font-family: Radio-Canada;
  // or tablet
  // font-family: DM-Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  color: variables.$faqAnswerColor;

  @media screen and (min-width: variables.$tablet) {
    font-size: 18px;
    line-height: 1.7;
  }
}
