//variables

$mobile: "320px";
$tablet: "768px";
$laptop: "1280px";
// $desktop: "1440px";

// @media screen and (min-width: variables.$mobile)
// @media screen and (min-width: variables.$tablet)
// @media screen and (min-width: variables.$laptop)
// @media screen and (min-width: variables.$desktop)

$bodyColor: #fff;
$textColor: #272727;
$borderColor: #e7e7e7;
$accentColor: #e46a12;
$btnColor: #09aa4c;
$hoverBrightnes: brightness(1.3);
$footerBg: #192b39;

//mixins

// @mixin sectionTitle {
//   font-weight: 400;
//   font-size: 32px;
//   line-height: 1.3;

//   @media screen and (min-width: $laptop) {
//     font-size: 48px;
//   }
// }

//usage example
// @include sectionTitle;
