@use "../../app/variables";

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  z-index: 100;

  background-image: linear-gradient(
    variables.$bodyColor 50%,
    transparent 80%,
    transparent 100%
  );

  @media screen and (min-width: variables.$laptop) {
    padding-top: 24px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  @media screen and (min-width: variables.$laptop) {
    font-size: 36px;
  }
}

.navigation {
  display: none;

  & a:hover,
  & a:focus {
    text-shadow: 0px 0px 0.5px black;
  }
  @media screen and (min-width: variables.$laptop) {
    display: flex;
    gap: 16px;
    font-size: 16px;
  }
}

.socLinks {
  display: none;

  @media screen and (min-width: variables.$laptop) {
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    & a {
      width: 32px;
      height: 32px;

      // &:hover,
      // &:focus {
      //   filter: variables.$hoverBrightnes;
      //   box-shadow: 0px 0px 4px rgb(255, 255, 255),
      //     0px 0px 6px rgba(0, 0, 0, 0.8);

      //   scale: 0.95;
      // }
    }

    & svg {
      fill: variables.$accentColor;
    }
  }
}
