@use "../../../app/variables";

.callBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;

  background-color: variables.$btnColor;
  color: variables.$bodyColor;
  height: 40px;
  font-size: 16px;

  @media screen and (min-width: variables.$laptop) {
    width: 204px;
    height: 32px;

    font-size: 24px;
  }
}
