@use "../../app/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 23px;
  @media screen and (min-width: variables.$tablet) {
    row-gap: 32px;
  }
  @media screen and (min-width: variables.$laptop) {
    row-gap: 64px;
  }
}
