@use "../../../app/variables";

.mobMenu {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 20px 20px 40px;
  top: 0;
  left: 0;
  padding-top: 100px;
  z-index: -1;

  background-color: variables.$bodyColor;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  @media screen and (min-width: 500px) {
    width: 80%;
    max-width: 400px;
  }
}

.mobMenuNone {
  display: none;
}

.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;

  font-size: 24px;

  & a {
    &:hover,
    &:focus {
      margin-left: 54px;
      font-weight: 900;
    }
  }

  transform: translateX(110%);
  opacity: 0;
}

.navVisible {
  opacity: 1;
  transform: translateX(0%);
}

.socLinks {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  & a {
    width: 48px;
    height: 48px;
    transform: translateY(200%);
    opacity: 0;

    &:nth-child(2) {
      transition-delay: 100ms;
    }
    &:nth-child(3) {
      transition-delay: 200ms;
    }
    &:nth-child(4) {
      transition-delay: 300ms;
    }
  }

  & svg {
    fill: variables.$accentColor;
  }
}

.socLinksVisible {
  & a {
    opacity: 1;
    transform: translateY(0%);
  }
}
