@use "../../app/variables";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media screen and (min-width: variables.$tablet) {
    row-gap: 32px;
  }

  @media screen and (min-width: variables.$laptop) {
    row-gap: 64px;
  }
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;

  @media screen and (min-width: variables.$tablet) {
    font-weight: 600;
    font-size: 40px;
  }

  @media screen and (min-width: variables.$laptop) {
    font-size: 48px;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media screen and (min-width: variables.$laptop) {
    flex-direction: row;
    row-gap: 0;
    column-gap: 20px;
  }
}

.imgWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 280/334;

  @media screen and (min-width: variables.$tablet) {
    width: 65vw;
    margin: 0 auto;
    aspect-ratio: 480/494;
    border-radius: 12px;
    overflow: hidden;
  }

  @media screen and (min-width: variables.$laptop) {
    min-width: 480px;
    height: 494px;
  }
}

.img {
  display: block;
  object-fit: cover;
}

.infoText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;

  @media screen and (min-width: variables.$tablet) {
    font-size: 24px;
  }

  @media screen and (min-width: variables.$laptop) {
    font-size: 32px;
  }
}

.dataList {
  display: flex;
  justify-content: center;
  column-gap: 6px;
  margin: 0px -12px;

  @media screen and (min-width: variables.$tablet) {
    column-gap: 24px;
    margin: 0px;
  }

  @media screen and (min-width: variables.$laptop) {
    column-gap: 20px;
  }
}

.dataItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid variables.$borderColor;

  // @media screen and (min-width: variables.$tablet) {
  //   padding: 26px 24px;
  // }

  // @media screen and (min-width: variables.$laptop) {
  //   row-gap: 16px;
  //   padding: 26px 48px;
  // }
}

.dataItem:nth-child(1) {
  padding: 8px 22px;

  @media screen and (min-width: variables.$tablet) {
    padding: 26px 24px;
  }

  @media screen and (min-width: variables.$laptop) {
    row-gap: 16px;
    padding: 26px 48px;
  }
}

.dataItem:nth-child(2) {
  padding: 8px 10px;

  @media screen and (min-width: variables.$tablet) {
    padding: 0px 32px 24px;
  }

  @media screen and (min-width: variables.$laptop) {
    row-gap: 16px;
    padding: 26px 48px;
  }
}

.dataItem:nth-child(3) {
  padding: 8px 22px;

  @media screen and (min-width: variables.$tablet) {
    padding: 26px 24px;
  }

  @media screen and (min-width: variables.$laptop) {
    row-gap: 16px;
    padding: 26px 48px;
  }
}

.dataNumber {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;

  @media screen and (min-width: variables.$tablet) {
    font-size: 48px;
  }

  @media screen and (min-width: variables.$laptop) {
    font-size: 96px;
  }
}

.dataText {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  @media screen and (min-width: variables.$tablet) {
    font-size: 24px;
  }

  @media screen and (min-width: variables.$laptop) {
    font-size: 36px;
  }
}

.dataItem:nth-child(2) .dataText {
  @media screen and (min-width: variables.$tablet) {
    width: 159px;
    text-align: center;
  }

  @media screen and (min-width: variables.$laptop) {
    width: auto;
  }
}
